<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignIn</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/16186e0e3e.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <header>
            <nav>
                <b class="navbar-header"  id="project-title"><i class="fa fa-book navbar-icon" aria-hidden="true"></i>&nbsp &nbspKnow-How</b>
                <b class="navbar-description" id="project-description">Discussion Forum &nbsp &nbsp<i class="fa fa-user" aria-hidden="true"></i></b>
            </nav>  
        </header>
        <div class="form-box">
            <h1 id="title">Sign-in</h1>
            <form action="/api/users/login" method="POST">
                <div class="input-group" id="inputBox">
                    <div class="login-input-field">
                        <i class="fa-solid fa-envelope"></i>
                        <input type="email" id = "email" name = "email" placeholder="Email" autocomplete="off">
                    </div>
                    <div class="login-input-field">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" id = "password" name = "password" placeholder="Password" autocomplete="off">
                    </div>
                </div>
                <div class="btn-field">
                    <button type="submit" id="signinBtn">Sign in</button>
                </div><br>
            </form>
            <%if(err && err==="pwdErr"){%>
            <b id="pwd-err-msg">Password Mismatch!</b><br><br>
            <%}%>
            <%if(err && err==="accErr"){%>
                <b id="pwd-err-msg">Account does not exist!</b><br><br>
            <%}%>
            <b>New User? <a href="/sign-up">Sign-up here!</a></b>
        </div>
    </div>
    <script>
        window.onload = function() {
            document.getElementById("email").value = "";
            document.getElementById("password").value = "";
        }
    </script>
</body>
</html>